[Desktop Entry]
Name=LA-Tools
Name[de]=LA-Tools
GenericName=Skript-Starter
GenericName[de]=Skript-Starter
Comment=diverse Tools und Programme
Comment[de]=diverse Tools und Programme
Exec=/usr/bin/la-tools
Icon=la-tools
Terminal=false
Type=Application
StartupNotify=false
Categories=Utility,System,
